alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias b="bat"
alias c="code"
alias c.="code -r ."
alias cn.="code ."
alias ci="composer install"
alias cl="clear"
alias eb="exec bash"
alias ez="exec zsh"
alias f="fzf"
alias fe="fzf -e"
alias gh="cd ~"
alias l="ls"
alias l.="ls -d .*"
alias ll="ls -al"
alias ls="exa -lF --git --color-scale --icons --group-directories-first"
alias lsd="exa -lFD --git --color-scale --icons --group-directories-first"
alias nf="neofetch"
alias pd="popd"
alias rm="trash"
alias rgg="rg -g '!dist/*'"
alias v="nvim"
alias ws="wormhole send"
alias yar="yay -R"
alias yas="yay -S"
alias yi="yarn install"

# Config
alias ca="$OPENER ~/.aliases"
alias clf="$OPENER ~/.config/lf/lfrc"
alias cp="$OPENER ~/.p10k.zsh"
alias cz="$OPENER ~/.zshrc"

# git
alias ga.="git add ."
alias gau="git add -u"
alias gbd="git branch -d"
alias gb="git branch"
alias gbr="git branch -r"
alias gcl='git clone'
alias gcb='git checkout -b'
alias gch='git checkout'
alias gcm='git checkout master; git pull --prune'
alias gcmain='git checkout main; git pull --prune'
alias gd='git diff'
alias gf='git fetch'
alias gfom='git fetch origin master'
alias gmom='git merge origin master'
alias gp='git pull --prune'
alias gpom='git pull origin master'
alias gpu='git push'
alias gr='git remote -v'
alias gs='git status'
alias gsa='git stash apply'
alias gsl='git stash list'
alias gsp='git stash pop'
alias gst='git stash -u'

# npm
alias na='npm audit'
alias naf='npm audit fix'
alias nci="npm clean-install"
alias ni="npm i"
alias nid="npm i -D"
alias nig="npm i -g"
alias nld='npm ls -D --depth=0'
alias nlg='npm ls -g --depth=0'
alias nr='npm run'
alias nrb='npm run build'
alias nrd='npm run dev'
alias nrmd="npm r -D"
alias nrmg="npm r -g"
alias nrod="npm run rollup:dev"
alias nrop="npm run rollup:prod"
alias prod="npm run rollup:prod"

# yadm
alias y="yadm"
alias ya="yadm add"
alias yau="yadm add -u"
alias yauc="yadm add -u && yadm commit && yadm push"
alias yd="yadm diff"
alias ye="yadm encrypt"
alias yc="yadm commit"
alias yr="yadm remote -v"
alias yrs="yadm reset"
alias yp="yadm pull --prune"
alias ypu="yadm push"
alias ys="yadm status"
