alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias b="bat"
alias c.="codium -r . && exit"
alias c="codium"
alias cal="cal --monday"
alias ci="composer install"
alias cinci="composer install && npm clean-install"
alias cl="clear"
alias cn.="codium . && exit"
alias cu="composer update"
alias exa="exa -lF --git --color-scale --icons --group-directories-first"
alias ez="exec zsh"
alias f="yay"
alias fr="yay -Rns"
alias fs="yay -S"
alias fdu="fd -uu"
alias fe="fzf -e"
alias gh="cd ~"
alias l="exa"
alias ll="exa -al"
alias ls.="exa -d .*"
alias lsd="exa -D"
alias nf="neofetch"
alias pd="popd"
alias rgd="rg -g '!dist/*'"
alias rm="trash"
alias sv="sudo nvim"
alias v="nvim"
alias wr="wormhole receive"
alias ws="wormhole send"
alias y="yay"
alias yr="yay -R"
alias yrn="yay -Rns"
alias ys="yay -S"
alias yt="yt-dlp"

# Config
alias ca="$OPENER ~/.aliases"
alias ce="$OPENER ~/.config/espanso/match/base.yml"
alias ck="$OPENER ~/.config/kmonad/qwerty.kbd"
alias clf="$OPENER ~/.config/lf/lfrc"
alias cz="$OPENER ~/.zshrc"

# git
alias ga.="git add ."
alias gau="git add -u"
alias gb="git branch"
alias gbd="git branch -d"
alias gbr="git branch -r"
alias gc='git checkout'
alias gcb='git checkout -b'
alias gcl='git clone'
alias gcm='git checkout master; git pull --prune'
alias gcmain='git checkout main; git pull --prune'
alias gd='git diff'
alias gmom='git merge origin master'
alias gp='git pull --prune'
alias gpu='git push'
alias gr='git remote -v'
alias gs='git stash -u'
alias gsa='git stash apply'
alias gsl='git stash list'
alias gsp='git stash pop'
alias gst='git status'

# npm
alias na='npm audit'
alias naf='npm audit fix'
alias nci="npm clean-install"
alias ni="npm install"
alias nid="npm i -D"
alias nig="npm i -g"
alias nld='npm ls -D --depth=0'
alias nlg='npm ls -g --depth=0'
alias nr='npm run'
alias nrb='npm run build'
alias nrd='npm run dev'
alias nrmd="npm r -D"
alias nrmg="npm r -g"
alias nrod="npm run rollup:dev"
alias nrop="npm run rollup:prod"
alias nrtj="npm run test:js"
alias nrtju="npm run test-update-snapshot:js"
alias nrtp="npm run test:php"
alias nrtpu="npm run test-update-snapshot:php"
alias nu="npm update"
alias prod="npm run rollup:prod"

# yadm
alias ya="yadm"
alias yaa="yadm add"
alias yaau="yadm add -u"
alias yac="yadm commit -m 'Update' && yadm push"
alias yad="yadm diff"
alias yade="yadm decrypt"
alias yae="yadm encrypt"
alias yal="yadm list"
alias yap="yadm pull"
alias yapu="yadm push"
alias yars="yadm reset"
alias yas="yadm status"
alias yau="yadm add -u"
