alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias b="bat"
alias c.="codium -r . && exit"
alias c="codium"
alias cal="cal --monday"
alias ci="composer install"
alias cl="clear"
alias cn.="codium . && exit"
alias cni="composer install && npm clean-install"
alias cu="composer update"
alias eza="eza -lF --git --color-scale --icons --group-directories-first"
alias ez="exec zsh"
alias f="lfcd"
alias fdu="fd -uu -E /mnt"
alias fe="fzf -e"
alias ff="clear && fastfetch --load-config paleofetch --color-title 37 --color-keys 33 && echo"
alias fff="clear && fastfetch --color-title 37 --color-keys 33 && echo"
alias fj="firejail"
alias fjn="firejail --net=none"
alias fl="lfcd ~/.local/bin"
alias fw="lfcd ~/code/work"
alias gh="cd ~"
alias gt="gotop"
alias gub="gulp build"
alias gud="gulp dev"
alias gw="cd ~/code/work"
alias ka="killall"
alias l="eza"
alias lc="lolcat"
alias ll="eza -al"
alias ls.="eza -d .*"
alias lsd="eza -D"
alias pcs="procs"
alias pd="popd"
alias rg="rg -i"
alias rgd="rg -g '!dist/*'"
alias rm="trash"
alias sctl="systemctl"
alias shch="shellcheck"
alias smv="sudo mv"
alias srm="sudo rm"
alias sv="sudo nvim"
alias te="trash empty --all"
alias tl="trash list"
alias tp="trash"
alias trs="trash restore"
alias wr="wormhole receive"
alias ws="wormhole send"
alias v="nvim"
alias y="yay"
alias yr="yay -Rns"
alias ys="yay -S"
alias yy="yup"

# Config
alias ca="$OPENER ~/.aliases"
alias cala="$OPENER ~/.config/alacritty/alacritty.yml"
alias ce="$OPENER ~/.config/espanso/match/base.yml"
alias ck="$OPENER ~/.config/kmonad/t16.kbd"
alias clf="$OPENER ~/.config/lf/lfrc"
alias cz="$OPENER ~/.zshrc"

# git
alias ga.="git add"
alias ga.="git add ."
alias gau="git add -u"
alias gbd="git branch -d"
alias gbr="git branch -r"
alias gc='git checkout'
alias gcb='git checkout -b'
alias gcl='git clone'
alias gcm='git checkout master && git pull --prune'
alias gcma='git checkout main && git pull --prune'
alias gdf='git diff'
alias gmom='git merge origin master'
alias gmoma='git merge origin main'
alias gp='git pull --prune'
alias gpu='git push'
alias gpuf='git push --force-with-lease'
alias gr='git remote -v'
alias grom='git reset origin/master'
alias groma='git reset origin/main'
alias gs='git status'
alias gsa='git stash apply'
alias gsd='git stash drop'
alias gsl='git stash list'
alias gsp='git stash pop'
alias gst='git stash -u'
alias gsw='git switch'

# npm
alias na='npm audit'
alias naf='npm audit fix'
alias nci="npm clean-install"
alias ni="npm install"
alias nid="npm i -D"
alias nig="npm i -g"
alias nld='npm ls -D --depth=0'
alias nlg='npm ls -g --depth=0'
alias nr='npm run'
alias nrb='npm run build'
alias nrd='npm run dev'
alias nrl='npm run lint'
alias nrsl='npm run stylelint'
alias nrmd="npm r -D"
alias nrmg="npm r -g"
alias nrod="npm run rollup:dev"
alias nrtj="npm run test:js"
alias nrtjc="npm run test-coverage:js"
alias nrtju="npm run test-update-snapshot:js"
alias nrtp="npm run test:php"
alias nrtpu="npm run test-update-snapshot:php"
alias nrw="npm run watch"
alias nu="npm update"
alias prod="npm run rollup:prod"

# yadm
alias ya="yadm"
alias yaa="yadm add"
alias yac="yadm commit -m 'Update' && yadm push"
alias yadf="yadm diff"
alias yade="yadm decrypt"
alias yae="yadm encrypt"
alias yal="yadm list"
alias yap="yadm pull"
alias yapu="yadm push"
alias yarm="yadm rm --cached"
alias yars="yadm reset"
alias yas="yadm status"
alias yast="yadm stash"
alias yasp="yadm stash pop"
alias yau="yadm add -u"
alias yauc="yau && yac"
