#!/bin/sh

# Function to check if a package is installed
is_installed() {
  pacman -Q "$1" > /dev/null 2>&1
}

# List of packages to check and install if necessary
PACKAGE_LIST="
age
alacritty
bat
chromium-extension-web-store
composer
dash
dashbinsh
deadbeef
deadbeef-mpris2-plugin
emote
espanso-bin
eza
fastfetch
fd
ffmpegthumbnailer
ffmpegthumbs
figlet
flameshot
fzf
fzf-tab-bin-git
gnome-disk-utility
gotop-bin
gufw
ibus-hangul
kdeconnect
keyd
lf-bin
magic-wormhole
mpv-full
mpv-thumbfast-git
mpv-uosc
neovim
nomacs-git
nvm
obsidian-bin
okular
peek
php-apcu
procs
ripgrep
shellcheck-bin
solaar
speedcrunch
syncthing
tdrop
tealdeer
tmux
trash-cli
ttf-jetbrains-mono-nerd
unrar
unzip
ventoy-bin
vscodium-bin
vscodium-bin-features
vscodium-bin-marketplace
wmctrl
zoxide
zsh
zsh-theme-powerlevel10k

{{- if eq .chezmoi.hostname "ndvr" }}
discord
flacon
fsearch-git
librewolf-bin
mullvad-vpn-bin
puddletag-git
rsgain
signal-desktop
soundconverter
sox
thunderbird
transmission-remote-gtk
whatsdesk-bin
yt-dlp
{{- end }}
"

# Iterate over each package in the list and install if not already installed
echo "$PACKAGE_LIST" | while IFS= read -r package_name; do
  # Skip empty lines
  if [ -n "$package_name" ]; then
    if is_installed "$package_name"; then
      echo "$package_name is already installed."
    else
      echo "$package_name is not installed. Installing..."
      yay -S --noconfirm "$package_name"
    fi
  fi
done
