[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;audio/*;
Actions=openPuddletagHere;
X-KDE-AuthorizeAction=shell_access

[Desktop Action openPuddletagHere]
TryExec=puddletag
Exec=puddletag %F
Icon=puddletag
Name=puddletag
